extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.Home
		nav.service
			.container
				.row
					.col
						h1 SERVICES WE PROVIDE
							hr
						h6 we are working with both individuals and businesses form all over the globe to create awsesome website and applications
				.row
					.col-md-3
						.item
							figure
								img.img-fluid.sevice(src="./img/sevice1.png", alt="")
								.abc
									h4 BRANDING

					.col-md-3
						.item
							figure
								img.img-fluid.sevice(src="./img/sevice2.png", alt="")
								.abc
									h4 DESIGN

					.col-md-3
						.item
							figure
								img.img-fluid.sevice(src="./img/sevice3.png", alt="")
								.abc
									h4 DEVELOPMET

					.col-md-3
						.item
							figure
								img.img-fluid.sevice1(src="./img/sevice4.png", alt="")
								.abc
									h4 ROCKET 1 WEEK

