<!-- ////////////// HEADER ////////////// -->
header
	nav.navbar.navbar-expand
		a.navbar-brand(href="#")
			img(src="./img/cuda.png", alt="",)
		ul.navbar-nav
			li.nav-item
				a.nav-link(href="#")
					button HOME
			li.nav-item
				a.nav-link(href="#")
					button  ABOUT
			li.nav-item
				a.nav-link(href="#")
					button  WORK
			li.nav-item
				a.nav-link(href="#")
					button  BLOG
			li.nav-item
				a.nav-link(href="#")
					button  CONTACT
	h1.text-center Hi there! We are the new kids on the block
		br
		| and we build awesome website and mobile app
	h2
		button WORK WITH US!
	//- 	// Brand: Direct Child of ".nav-item"
	//- //- nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
	//- 	ul.navbar-nav
	//- 		li.nav-item
	//- 			a.nav-link.navbar-brand(href="#")
	//- 			img(src="../images/logo.png" style="width:64px;")
	//- 		li.nav-item
	//- 			a.nav-link(href="#") Javascript
	//- 		li.nav-item
	//- 			a.nav-link(href="#") Css
	//- 		li.nav-item
	//- 			a.nav-link(href="#") Bootstrap

<!-- ////////////// HEADER ////////////// -->
